@media (max-width:1024px){
    .body-index{
        main{
            height: 80vh;
            section{
                article{
                    .contenedor-info-middle{
                        padding-top: 150px;
                        height: 25.1vh;
                    }
                    .contenedor-dos{
                        h2{
                            font-size: 1.6vw;
                        }
                        p{
                            font-size: 1.6vw;
                        }
                    }
                    .contenedor-tres{
                        height: 200px;
                        
                        .titulo-uno{
                            margin: 0px;
                        }

                    }
                }
            }
        }
        .contenedor-footer{
            margin-top: 50px;
            .div-info-footer{
                width: 60%;
            }
        }
    }
}