header{
    display: flex;
    justify-content: space-between;
    height: 300px;
    .div-logo-ceo{
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 150px;
        .div-title-ceo{
            display: flex;
            font-size: 10px;
            justify-content: center;
            align-items: start;
            color: white;
        }
    
    }
    .div-navbar{
        width: 100px;
        .navbar{
            li{
                list-style-type: none;
                font-weight: 500;
                line-height: 120%;
                margin: 10px;
                &:hover{
                    transform: translate(1.25rem);
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .button-header{
        margin: 10px 15px 0 0;
        background-color: transparent;
        width: 250px;
        a{
            text-decoration: none;
            h2{
                color: rgb(255, 255, 255);
            }
        }
    }
}

.header-blog{
    width: 98%;
    position: absolute;
    height: 30%;
}