.body-contact{
    background-image: url(https://cdn.pixabay.com/photo/2018/02/22/18/35/ferrari-458-speciale-3173661_960_720.jpg);
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;

}

.section-contact{
    display: flex;
    width: 100%;
    height: 100%;
    .contenedor-h1{
        display: block;
        padding-right: 18.75rem;
        width: 50vw;
        color: white;
        font-size: 4.375rem;
        font-weight: 500;
        letter-spacing: -.07em;
        line-height: 96%;
        .h2-1{
            width: 100%;
            display: flex;
            justify-content: end;
            padding-bottom: 30px;
            height: 70px;
        }
        
        .h2-2{
            width: 100%;
            display: flex;
            justify-content: end;
            padding-bottom: 30px;
            height: 70px;
        }
        
        .h2-3{
            width: 100%;
            display: flex;
            justify-content: end;
            padding-bottom: 30px;
            height: 70px;
        }
        
        .h2-4{
            width: 100%;
            display: flex;
            justify-content: end;
            padding-bottom: 30px;
            height: 70px;
        }
    }
    .contenedor-formulario{
        .group {
            position: relative;
            height: 150px;
            width: 500px;
        }
        
        .input {
            font-size: 16px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 200px;
            border: none;
            border-bottom: 1px solid #515151;
            background: transparent;
        }
        
        .input:focus {
            outline: none;
        }
        
        label {
            color: white;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        
        .input:focus ~ label, .input:valid ~ label {
            top: -20px;
            font-size: 14px;
            color: #5264AE;
        }
        
        .bar {
            position: relative;
            display: block;
            width: 200px;
        }
        
        .bar:before, .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #5264AE;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        
        .bar:before {
            left: 50%;
        }
        
        .bar:after {
            right: 50%;
        }
        
        .input:focus ~ .bar:before, .input:focus ~ .bar:after {
            width: 50%;
        }
        
        .highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
        
        .input:focus ~ .highlight {
            animation: inputHighlighter 0.3s ease;
        }
        
        @keyframes inputHighlighter {
            from {
            background: #5264AE;
            }
        
            to {
            width: 0;
            background: transparent;
            }
        }
    
            .contenedor-chooseFile{
                display: flex;
                justify-content: space-between;
                .cont-h3-attachcv{
                    color: white;
                }
                .cont-buttom-attachcv{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

/* From Uiverse.io by G4b413l */ 


.contenedor-disclaimer{
    width: 50vw;
    padding-top: 40px;
    padding-right: 18.75rem;
    display: flex;
    justify-content: space-between;
    div{
        h1{
            margin: .3125rem;
            color:map-get($colorsFonts , Secundario );
            letter-spacing: -.03em;
            font-weight: 500;
            line-height: 96%;
            font-size: 1.25rem;
        }
    }
    div{
        p{
            margin: .3125rem;
            color:map-get($colorsFonts , Secundario );
            letter-spacing: -.03em;
            font-weight: 500;
            line-height: 96%;
            font-size: 1.25rem;
        }
    }
}