@media(max-width:644px){
   header{
    height: 160px;
    .div-navbar{
        padding-left: 300px;
        .navbar{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
   } 
}