@media(max-width:702px){
    .contenedor-section-services{
        display: flex;
        justify-content: space-between;
        .contenedor-cards{
            .div-cards{
                width: 170px;
            }
        }
    }
    .contenedor-footer{
        display: flex;
        .div-logos-footer{
            display: flex;
            flex-direction: column;
            width: 50px;
            height: 160px;
            .div-logos-redes{
                width: 50px;
                height: 58px;
                
            }
        }
        .cont-text-footer{
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items:end;
            .div-h3-footer{
                display: flex;
                justify-content: flex-end;
            }
            .div-p-footer{
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

