

.body-index{


    background-image: url(https://www.wsupercars.com/wallpapers-regular/Formula-1/Red-Bull-Racing/2022-Formula1-Red-Bull-Racing-RB18-007-2160.jpg);
    
}
  

body{
    margin: 20px;
    background-color: $colorBackground;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 120%;
}