@media(max-width:768px){
    .body-about{
        main{
            .contenedor-section-about{
                margin-bottom: 120px;
            }
            article{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat 144px 144px 500px;
                gap: 60px;
                .text-one{
                    grid-column: 1 / 3;
                    width: 100%;
                    h3{
                        font-size: 3.2vw;
                    }
                }
                .text-two{
                    grid-column: 1 / 3;
                    grid-row: 3 / 4;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    h3{
                        font-size: 3.2vw;
                    }
                }
                .text-three{
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    h3{
                        font-size: 3.2vw;
                        margin: 0px;
                    }
                }
                .text-for{
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    h3{
                        font-size: 6.4vw;
                        line-height: 110%;
                        margin: 0px;
                    }
                }
            }
        }
        .contenedor-footer{
            .div-logos-footer{
                display: flex;
                flex-direction: column;
                height: 165px;
                width: 50px;
                .div-logos-redes{
                    width: 50px;
                }
            }
            .div-info-footer{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items:end;
                gap: 0px;
            }
            
        }
    }
}