@media (max-width:794px){
    .body-blog{
        main{
            .contenedor-section-dos{
                .card-container{
                    display: grid;
                    grid-template-columns: repeat(2, 300px);
                    grid-template-rows: repeat(4, 300px);
                    .card1{
                        height: auto;
                    }
                    .card2{
                        height: auto;
                    }
                    .card3{
                        height: auto;
                    }
                    .card4{
                        height: auto;
                    }
                }
            }
        }
    }
}